/* 
----------------------------------------------
Variables
----------------------------------------------  
*/
:root {
  font-size: 62.5%;

  --backgroundColor: #f2edf2;
  --borderColor: lightseagreen;
  --buttonColor: #303048;
  --buttonTextColor: #f1f0f0;
  --auxColor: #f3fb34;

  --fontFamily: "Roboto", sans-serif;

  --generalPadding: 1rem;
  --generalMargin: 1rem;
  --generalPadding3: 3rem;
  --generalMargin3: 3rem;
  --logoMaxWidth: 5rem;

  --bodyFontSize: 2rem;
  --navFontSize: 1.5rem;
  --heroHeadingFontSize: 5.5rem;

  /* Breakpoints desktop 1200px */
  --desktopBodyFontSize: 1.75rem;
  --desktopNavFontSize: 1.4rem;
  --desktopHeroHeadingFontSize: 5rem;

  /* Breakpoints laptop 992px */
  --laptopBodyFontSize: 1.5rem;
  --laptopNavFontSize: 1.3rem;
  --laptopHeroHeadingFontSize: 4.5rem;

  /* Breakpoints tablet 768px */
  --tabletBodyFontSize: 1.25rem;
  --tabletpNavFontSize: 1.2rem;
  --tabletHeroHeadingFontSize: 4rem;

  /* Breakpoints mobile 576px */
  --mobileBodyFontSize: 1rem;
  --mobileNavFontSize: 1.1rem;
  --mobileHeroHeadingFontSize: 3.5rem;
}

/* 
  ----------------------------------------------
  Globals
  ----------------------------------------------  
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
  font-size: var(--bodyFontSize);
}

/* 
  ----------------------------------------------
  flex container
  ----------------------------------------------  
*/

#contact-container {
  display: flex;

  justify-content: space-between;
  gap: 3rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */

  height: 100vh;
}

/* 
  ----------------------------------------------
  form 
  ----------------------------------------------  
*/

#contact-form-wrapper {
  margin: var(--generalMargin);
  padding: var(--generalPadding);

  width: 50%;

  /* border: 0.1rem dashed var(--borderColor); */
}

/* 
----------
Header
----------
*/

#logo-wrapper {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

/* 
----
logo
----
*/

#logo {
  width: 100%;
  height: auto;

  max-width: 5rem;
}

#logo-text {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* 
----------
form main
----------
*/

#form-main {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  gap: 3rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

#form-main-heading {
  text-align: center;
}

form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  min-width: 20vw;
  min-height: 50vh;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  background-color: var(--buttonColor);
  border-radius: 1rem;
}

fieldset {
  width: 100%;
  border: none;
}

input {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem;
}

textarea {
  width: 100%;
  padding: 0.8rem;
}

/* .form-item {
  width: 100%;
} */

/* 
  ----------------------------------------------
  aside 
  ----------------------------------------------  
*/

#contact-aside-wrapper {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
  /* gap: 1rem; */

  margin: var(--generalMargin);
  /* padding: var(--generalPadding); */

  width: 50%;

  background-color: var(--buttonColor);
  border-radius: 1rem;

  /* border-left: 0.1rem solid var(--borderColor); */
}

/* 
---------------------
section map
----------------------
*/
#contact-map {
  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

#map {
  width: 35vw;
  height: 35vh;
  border-radius: 2rem;
  border: none;
}

/* 
---------------------
section social links
----------------------
*/
#social-links-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

.social-icons {
  color: var(--backgroundColor);
}

.social-icons:hover {
  color: var(--auxColor);
  background-color: var(--buttonColor);
  border-radius: 3rem;
  padding: 0.5rem;
  transition: 0.5s;
}

.social-icons:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 0.2rem var(--auxColor);
  transition: 0.5s;
}

.social-icons:active {
  background-color: var(--backgroundColor);
  transition: 0.5s;
  color: var(--buttonColor);
  border-radius: 0.7rem;
}

/* 
----------------------------------------------
Media Queries
----------------------------------------------  
*/

/*
    Breakpoints
	1200   ->    desktop
	992    ->    laptop
	768    ->    tablet
  576    ->    mobile        
*/

/* 
---------------------
Breakpoint: desktop
---------------------
*/

@media screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    font-size: var(--desktopBodyFontSize);
  }
}

/* 
  ---------------------
  Breakpoint: laptop
  ---------------------
  */

@media screen and (max-width: 992px) {
  body {
    background-color: lightcoral;
    font-size: var(--laptopBodyFontSize);
  }

  #contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-aside-wrapper {
    border-top: 0.1rem solid var(--borderColor);
    border-left: none;
  }
}

/* 
  ---------------------
  Breakpoint: tablet
  ---------------------
  */

@media screen and (max-width: 768px) {
  body {
    background-color: lightgoldenrodyellow;
    font-size: var(--tabletBodyFontSize);
  }
}

/* 
  ---------------------
  Breakpoint: mobile
  ---------------------
  */

@media screen and (max-width: 576px) {
  body {
    background-color: lightseagreen;
    font-size: var(--mobiletBodyFontSize);
  }
}
