/* 
----------------------------------------------
Variables
----------------------------------------------  
*/
:root {
  font-size: 62.5%;

  --backgroundColor: #f2edf2;
  --borderColor: lightseagreen;
  --buttonColor: #303048;
  --buttonTextColor: #f1f0f0;
  --auxColor: #f3fb34;

  --fontFamily: "Roboto", sans-serif;

  --generalPadding: 1rem;
  --generalMargin: 1rem;
  --generalPadding2: 2rem;
  --generalMargin2: 2rem;
  --generalPadding3: 3rem;
  --generalMargin3: 3rem;
  --logoMaxWidth: 5rem;

  --bodyFontSize: 2rem;
  --navFontSize: 1.5rem;
  --heroHeadingFontSize: 10rem;

  /* Breakpoints desktop 1200px */
  --desktopBodyFontSize: 1.75rem;
  --desktopNavFontSize: 1.4rem;
  --desktopHeroHeadingFontSize: 8rem;

  /* Breakpoints laptop 992px */
  --laptopBodyFontSize: 1.5rem;
  --laptopNavFontSize: 1.3rem;
  --laptopHeroHeadingFontSize: 7rem;

  /* Breakpoints tablet 768px */
  --tabletBodyFontSize: 1.25rem;
  --tabletpNavFontSize: 1.2rem;
  --tabletHeroHeadingFontSize: 6rem;

  /* Breakpoints mobile 576px */
  --mobileBodyFontSize: 1rem;
  --mobileNavFontSize: 1.1rem;
  --mobileHeroHeadingFontSize: 5rem;
}

/* 
----------------------------------------------
Globals
----------------------------------------------  
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
  font-size: var(--bodyFontSize);
}

/* 
----------------------------------------------
grid container
----------------------------------------------  
*/

#container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";

  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: 10rem 1fr 35rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* height: 100vh; */

  border: 0.1rem dashed var(--borderColor);
}

/* 
----------------------------------------------
Header
----------------------------------------------  
*/

header {
  grid-area: header;

  display: flex;

  justify-content: space-between;
  align-items: center;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

/* 
-----
logo
----- 
*/
#logo-wrapper {
  flex-grow: 1;

  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#logo {
  width: 100%;
  height: auto;

  max-width: 5rem;
}

#logo-text {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* 
-----
nav
----- 
*/
nav {
  flex-grow: 2;
  font-size: var(--navFontSize);
}

#nav-list {
  display: flex;

  justify-content: flex-end;
  gap: 1rem;

  list-style: none;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;

  color: black;

  position: relative;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

#nav-list a::before {
  content: "";
  background-color: var(--auxColor);
  position: absolute;
  left: 0;
  bottom: 0.3rem;
  width: 100%;
  height: 0.5rem;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#nav-list a:hover::before {
  bottom: 0;
  height: 100%;
}

/* 
----------------------------------------------
Main
----------------------------------------------  
*/
main {
  grid-area: main;

  display: flex;

  flex-direction: column;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* border: 0.1rem dashed var(--borderColor); */
}

.main-item {
  height: auto;
  margin: var(--generalMargin3);
  padding: var(--generalPadding3);

  /* border: 0.1rem dashed var(--borderColor); */
}

/* 
-------------
Hero Section
------------- 
*/
#hero-wrapper {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

#hero-main {
  display: flex;

  flex-direction: column;

  text-align: left;
  width: 50vw;
}

/* 
h1 
*/

#hero-heading {
  font-size: var(--heroHeadingFontSize);
  /* border: 0.1rem dashed var(--borderColor); */
}

/* 
p 
*/

#hero-main p {
  padding-top: var(--generalPadding);
}

/* 
form 
*/

#hero-form {
  /* border: 0.1rem dashed var(--borderColor); */

  width: 85%;

  margin-top: var(--generalMargin);
  padding: var(--generalPadding);

  border-radius: 4rem;
  background-color: var(--buttonColor);
}

fieldset {
  border-style: none;
}

#email {
  min-width: 25vw;

  border: none;
  padding-left: 1.5rem;

  background: transparent;
  color: var(--buttonTextColor);

  font-size: 2rem;
  letter-spacing: 0.1rem;
  outline: none;
}

#submit-button {
  min-width: 10vw;
  min-height: 8vh;

  font-weight: bold;
  background-color: var(--backgroundColor);

  border-radius: 4rem;
  border: none;
}

#submit-button:hover {
  background-color: var(--auxColor);
  transition: 0.5s;
  color: var(--buttonColor);
}
#submit-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 0.2rem var(--auxColor);
  transition: 0.5s;
}

#submit-button:active {
  background-color: var(--backgroundColor);
  transition: 0.5s;
  color: var(--buttonColor);
}

/* 
hero image 
*/

#hero-img {
  width: 50%;

  margin: var(--generalMargin);
  padding: var(--generalPadding);
}

#hero-img-item img {
  max-width: 100%;
  height: auto;
}

/* 
-------------
About Section
------------- 
*/
#about-wrapper {
  display: flex;

  justify-content: space-around;
  align-items: center;

  border: 0.1rem dashed var(--borderColor);
  border-radius: 2rem;
}

#about-text {
  max-width: 20%;
  letter-spacing: 0.2rem;
  padding: var(--generalPadding);
}

.about-item {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: var(--generalPadding);
}

.about-icons {
  width: 100%;
  height: auto;
  max-width: 5rem;
  margin: var(--generalMargin);
}

/* 
----------------
Pricing Section
---------------- 
*/
#pricing-wrapper {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pricing-item {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  width: 15vw;
  min-height: 50vh;

  /* border: 0.1rem dashed var(--borderColor); */
  border-radius: 2rem;

  background-color: var(--buttonColor);
  color: var(--backgroundColor);

  padding: var(--generalPadding);
  margin: var(--generalMargin);
}

.pricing-icons {
  display: flex;
  gap: 1rem;
  /* width: 5rem; */
  /* max-height: auto; */
}

.pricing-icon {
  width: 3vw;
  background-color: var(--backgroundColor);
  border-radius: 5rem;
  padding: 1rem;
}

.price {
  font-size: 5rem;
  font-weight: bold;
}

.pricing-button {
  min-width: 10vw;
  min-height: 8vh;

  font-weight: bold;
  background-color: var(--auxColor);
  color: var(--buttonColor);

  border-radius: 4rem;
  border: none;
}

.pricing-button:hover {
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  box-shadow: 0 0 0 0.2rem var(--auxColor);
  transition: 0.5s;
}
.pricing-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 0.2rem var(--auxColor);
  transition: 0.5s;
}

.pricing-button:active {
  background-color: var(--backgroundColor);
  transition: 0.5s;
  color: var(--buttonColor);
}

/* 
----------------------------------------------
Footer
----------------------------------------------  
*/
footer {
  grid-area: footer;

  display: flex;

  justify-content: space-between;

  flex-direction: column;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  border: 0.1rem dashed var(--borderColor);
  border-radius: 2rem;
}

#footer-main {
  display: flex;

  flex-direction: column;
  gap: 3rem;

  margin: var(--generalMargin2);
  padding: var(--generalPadding2);

  /* border: 0.1rem dashed var(--b  orderColor); */

  max-width: 30vw;
}

#text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#text-wrapper p {
  font-size: 2rem;
}

#social-links-wrapper {
  display: flex;
  gap: 1rem;
}

.social-icons {
  color: var(--buttonColor);
}

.social-icons:hover {
  color: var(--auxColor);
  background-color: var(--buttonColor);
  border-radius: 3rem;
  padding: 0.5rem;
  transition: 0.5s;
}

.social-icons:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 0.2rem var(--auxColor);
  transition: 0.5s;
}

.social-icons:active {
  background-color: var(--backgroundColor);
  transition: 0.5s;
  color: var(--buttonColor);
}

#footer-aux {
  display: flex;

  justify-content: flex-end;

  border-top: 0.1rem solid var(--borderColor);

  margin: var(--generalMargin2);
  padding: var(--generalPadding2);
}

/* 
----------------------------------------------
Media Queries
----------------------------------------------  
*/

/*
    Breakpoints
	1200   ->    desktop
	992    ->    laptop
	768    ->    tablet
  576    ->    mobile        
*/

/* 
---------------------
Breakpoint: desktop
---------------------
*/

@media screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    font-size: var(--desktopBodyFontSize);
  }

  nav {
    font-size: var(--desktopNavFontSize);
  }

  #hero-heading {
    font-size: var(--desktopHeroHeadingFontSize);
  }

  #hero-form {
    width: 80%;
  }

  #email {
    min-width: 20vw;

    padding-left: 1.5rem;

    font-size: 1.5rem;
  }
}

/* 
---------------------
Breakpoint: laptop
---------------------
*/

@media screen and (max-width: 992px) {
  body {
    background-color: lightcoral;
    font-size: var(--laptopBodyFontSize);
  }

  nav {
    font-size: var(--laptopNavFontSize);
  }

  #hero-heading {
    font-size: var(--laptopHeroHeadingFontSize);
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  #hero-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  #hero-main {
    flex-direction: column;

    align-items: center;
    gap: 1rem;

    text-align: center;
  }

  #hero-form {
    width: 75%;
  }

  #email {
    min-width: 15vw;

    padding-left: 1rem;

    font-size: 1rem;
  }

  #about-wrapper {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  #about-text {
    max-width: 50%;
  }

  #pricing-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .pricing-item {
    gap: 0.5rem;
    width: 30vw;
  }

  .pricing-icon {
    width: 6vw;
  }

  .price {
    font-size: 4rem;
  }

  .pricing-button {
    min-width: 12vw;
  }

  #footer-main {
    max-width: none;
    align-items: center;
  }

  #text-wrapper {
    flex-direction: column;
  }

  #footer-aux {
    justify-content: center;
  }
}

/* 
---------------------
Breakpoint: tablet
---------------------
*/

@media screen and (max-width: 768px) {
  body {
    background-color: lightgoldenrodyellow;
    font-size: var(--tabletBodyFontSize);
  }

  nav {
    font-size: var(--tabletNavFontSize);
  }

  #hero-heading {
    font-size: var(--tabletHeroHeadingFontSize);
  }

  #submit-button {
    font-size: 1rem;
  }

  #email {
    min-width: 12vw;

    padding-left: 1rem;

    font-size: 1rem;
  }

  .pricing-icon {
    width: 8vw;
  }

  .pricing-button {
    min-width: 14vw;
  }
}

/* 
---------------------
Breakpoint: mobile
---------------------
*/

@media screen and (max-width: 576px) {
  body {
    background-color: lightseagreen;
    font-size: var(--mobiletBodyFontSize);
  }

  nav {
    font-size: var(--mobileNavFontSize);
  }

  #hero-heading {
    font-size: var(--mobileHeroHeadingFontSize);
  }

  #hero-form {
    width: 100%;
  }

  #email {
    min-width: 12vw;

    padding-left: 1rem;

    font-size: 1rem;
  }

  #submit-button {
    font-size: 0.9rem;
    min-width: 14vw;
    min-height: 10vh;
  }

  #hero-img p {
    font-size: 10rem;
  }

  .pricing-item {
    width: 37vw;
  }

  .pricing-icon {
    width: 9vw;
  }

  .pricing-button {
    min-width: 16vw;
  }
}
