/* 
----------------------------------------------
Variables
----------------------------------------------  
*/
:root {
  font-size: 62.5%;

  --lightBackground: #f2edf2;
  --borderColor: lightseagreen;

  --fontFamily: "Roboto", sans-serif;

  --generalPadding: 1rem;
  --generalMargin: 1rem;
  --generalPadding3: 3rem;
  --generalMargin3: 3rem;
  --logoMaxWidth: 5rem;

  --bodyFontSize: 2rem;
  --navFontSize: 1.5rem;
  --heroHeadingFontSize: 5.5rem;

  /* Breakpoints desktop 1200px */
  --desktopBodyFontSize: 1.75rem;
  --desktopNavFontSize: 1.4rem;
  --desktopHeroHeadingFontSize: 5rem;

  /* Breakpoints laptop 992px */
  --laptopBodyFontSize: 1.5rem;
  --laptopNavFontSize: 1.3rem;
  --laptopHeroHeadingFontSize: 4.5rem;

  /* Breakpoints tablet 768px */
  --tabletBodyFontSize: 1.25rem;
  --tabletpNavFontSize: 1.2rem;
  --tabletHeroHeadingFontSize: 4rem;

  /* Breakpoints mobile 576px */
  --mobileBodyFontSize: 1rem;
  --mobileNavFontSize: 1.1rem;
  --mobileHeroHeadingFontSize: 3.5rem;
}

/* 
----------------------------------------------
Globals
----------------------------------------------  
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightBackground);
  font-family: var(--fontFamily);
  font-size: var(--bodyFontSize);
}

/* 
----------------------------------------------
grid container
----------------------------------------------  
*/

#container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";

  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: 10rem 1fr 35rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  /* height: 100vh; */

  border: 0.1rem dashed var(--borderColor);
}

/* 
----------------------------------------------
Header
----------------------------------------------  
*/

header {
  grid-area: header;

  display: flex;

  justify-content: space-between;
  align-items: center;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  border: 0.1rem dashed var(--borderColor);
}

/* 
-----
logo
----- 
*/
#logo-wrapper {
  flex-grow: 1;
}
#logo {
  width: 100%;
  height: auto;

  max-width: 5rem;
}

/* 
-----
nav
----- 
*/
nav {
  flex-grow: 2;
  font-size: var(--navFontSize);
}

#nav-list {
  display: flex;

  justify-content: flex-end;
  gap: 1rem;

  list-style: none;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
}

/* 
----------------------------------------------
Main
----------------------------------------------  
*/
main {
  grid-area: main;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  border: 0.1rem dashed var(--borderColor);
}

.main-item {
  height: auto;
  margin: var(--generalMargin3);
  padding: var(--generalPadding3);

  border: 0.1rem dashed var(--borderColor);
}

/* 
-------------
Hero Section
------------- 
*/
#hero-wrapper {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

#hero-main {
  display: flex;

  flex-direction: column;

  text-align: left;
  width: 50%;
}

#hero-heading {
  font-size: var(--heroHeadingFontSize);
  border: 0.1rem dashed var(--borderColor);
}

fieldset {
  border-style: none;
}

#hero-form {
  border: 0.1rem dashed var(--borderColor);
}

/* 
hero image 
*/

#hero-img {
  width: 50%;

  margin: var(--generalMargin);
  padding: var(--generalPadding);
}

picture img {
  max-width: 100%;
  height: auto;
}

/* 
-------------
About Section
------------- 
*/
#about-wrapper {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

#about-text {
  width: 50%;
}

/* 
----------------
Pricing Section
---------------- 
*/
#pricing-wrapper {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pricing-item {
  width: 15rem;
  height: 20rem;

  border: 0.1rem dashed var(--borderColor);
}

/* 
----------------------------------------------
Footer
----------------------------------------------  
*/
footer {
  grid-area: footer;

  display: flex;

  justify-content: space-between;

  flex-direction: column;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  border: 0.1rem dashed var(--borderColor);
}

#footer-main {
  display: flex;

  flex-direction: column;
  gap: 1.5rem;

  margin: var(--generalMargin);
  padding: var(--generalPadding);

  border: 0.1rem dashed var(--borderColor);

  max-width: 30rem;
}

#footer-aux {
  display: flex;

  justify-content: flex-end;

  border-top: 0.1rem solid var(--borderColor);

  margin: var(--generalMargin);
  padding: var(--generalPadding);
}

/* 
----------------------------------------------
Media Queries
----------------------------------------------  
*/

/*
    Breakpoints
	1200   ->    desktop
	992    ->    laptop
	768    ->    tablet
  576    ->    mobile        
*/

/* 
---------------------
Breakpoint: desktop
---------------------
*/

@media screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    font-size: var(--desktopBodyFontSize);
  }

  nav {
    font-size: var(--desktopNavFontSize);
  }

  #hero-heading {
    font-size: var(--desktopHeroHeadingFontSize);
  }
}

/* 
---------------------
Breakpoint: laptop
---------------------
*/

@media screen and (max-width: 992px) {
  body {
    background-color: lightcoral;
    font-size: var(--laptopBodyFontSize);
  }

  nav {
    font-size: var(--laptopNavFontSize);
  }

  #hero-heading {
    font-size: var(--laptopHeroHeadingFontSize);
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  #hero-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  #hero-main {
    flex-direction: column;
    text-align: center;
    width: auto;
    gap: 1rem;
  }

  #about-wrapper {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  #pricing-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  #footer-main {
    max-width: none;
    align-items: center;
  }

  #footer-aux {
    justify-content: center;
  }
}

/* 
---------------------
Breakpoint: tablet
---------------------
*/

@media screen and (max-width: 768px) {
  body {
    background-color: lightgoldenrodyellow;
    font-size: var(--tabletBodyFontSize);
  }

  nav {
    font-size: var(--tabletNavFontSize);
  }

  #hero-heading {
    font-size: var(--tabletHeroHeadingFontSize);
  }
}

/* 
---------------------
Breakpoint: mobile
---------------------
*/

@media screen and (max-width: 576px) {
  body {
    background-color: lightseagreen;
    font-size: var(--mobiletBodyFontSize);
  }

  nav {
    font-size: var(--mobileNavFontSize);
  }

  #hero-heading {
    font-size: var(--mobileHeroHeadingFontSize);
  }

  #hero-img p {
    font-size: 10rem;
  }
}
